/* You can add global styles to this file, and also import other style files */
:root{
    // background-color: black;
    // color: white
}
div{
    margin: 2px;
    margin-left: 8px;
    padding: 2px;
}

.duration{
    width: 5rem;
}
select{
    width:20%;
    border: none;
    border-radius: 2px;
}